.vscode/
.idea
.gitignore
.venv
venv/
media/
*.dockerignore
*.DS_Store
*.code-workspace
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
README.md
*.pyc
*.pyo
*.pyd
.Python
.cache
*.cover
*.log
.git
.mypy_cache/
.DS_Store
*.db
dump.json
static/
media/