Django==4.2.5
django-filter==23.2
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
djoser==2.2.0
gunicorn==21.2.0
Pillow==10.0.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0

celery[redis]

django-multiselectfield