version: '3.8'

services:
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
  
  redis:
    image: redis:latest
    restart: always
  
  backend:
    image: spotit2709/backend:latest
    # build:
    #   context: ../api_spot
    restart: always
    volumes:
      - static_value:/app/static
      - media_value:/app/media
    depends_on:
      - db
    env_file:
      - ../.env
  
  frontend:
    image: spotit2709/front:latest
    volumes:
      - frontend:/app/result_build/build/

  celery:
    image: spotit2709/backend:latest
    # build:
    #   context: ../api_spot
    command: celery -A api_spot worker --loglevel=info
    restart: always
    depends_on:
      - backend
      - redis
    env_file:
      - ../.env

  celery_beat:
      image: spotit2709/backend:latest
      # build:
      #   context: ../api_spot
      command: celery -A api_spot beat --loglevel=info
      restart: always
      depends_on:
        - backend
        - redis
        - celery
      env_file:
        - ../.env

  flower:
    image: mher/flower
    restart: always
    expose:
      - 5555
    env_file:
      - ../.env
    depends_on:
      - backend
      - redis
      - celery
      - celery_beat
  
  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - frontend:/usr/share/nginx/html/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    links:
      - backend
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    depends_on:
      - backend
      - flower
      - frontend
  
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  
volumes:
  static_value:
  media_value:
  postgres_data:
  frontend:
