version: '3.8'

services:
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
  
  redis:
    image: redis:latest
    restart: always
  
  backend:
    image: SPOTIT2709/backend:latest
    restart: always
    volumes:
      - static_value:/app/static
      - media_value:/app/media
    depends_on:
      - db
    env_file:
      - ../.env
    
  celery:
    image: SPOTIT2709/backend:latest
    command: celery -A api_spot worker --loglevel=info
    restart: always
    volumes:
      - app:/app
    depends_on:
      - backend
      - redis
    env_file:
      - ../.env
  
  flower:
    image: mher/flower
    restart: always
    expose:
      - 5555
    env_file:
      - ../.env
    depends_on:
      - redis
      - celery
  
  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - backend

volumes:
  static_value:
  media_value:
  postgres_data:
  app: