<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Пример HTML-письма</title>
    <link href="https://fonts.googleapis.com/css?family=Onest:300,400,500,700" rel="stylesheet" />
  </head>
  <body bgcolor="#fdf8f1" style="font-family: 'Onest', sans-serif">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
      <tr>
        <td style="padding-top: 40px">
          <img
            src="https://storage.yandexcloud.net/spotit/logo/logo.png"
            alt="Красивое изображение"
            width="160"
            height="30"
          />
        </td>
      </tr>
      <tr style="padding-top: 80px">
        <td bgcolor="#fdf8f1" align="left" style="padding: 20px 0" colspan="2">
          <h1 style="font-size: 40px; font-weight: 400">Подтверждение почты</h1>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p style="line-height: 30px">Здравствуйте {{ first_name }} {{ last_name }}!</p>
          <p style="line-height: 30px">
            Спасибо за регистрацию в личном кабинете SPOT IT. Для завершения регистрации, введите код на сайте
            <a href="https://spotit.acceleratorpracticum.ru/" style="color: #5869d3; text-decoration: none"
              >https://spotit.acceleratorpracticum.ru/</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0 40px 0" colspan="2">
          <span
            style="
              color: #5869d3;
              border: 2px solid #5869d3;
              padding: 12px 20px;
              border-radius: 20px;
              font-family: 'Onest', sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
            "
            >{{ confirmation_code }}</span
          >
        </td>
      </tr>
      <tr>
        <td style="padding: 20px 0 40px 0" colspan="2">
          <p style="line-height: 30px">Если вы получили это сообщение по ошибке, просто оставьте его без внимания.</p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <h3 style="font-size: 20px; font-style: normal; font-weight: 500; line-height: 30px">СВЯЗАТЬСЯ С НАМИ</h3>
        </td>
      </tr>
      <tr style="padding-top: 60px" height="250" valign="top">
        <td width="33.33%">
          <p>Информационное взаимодействия</p>
          <p>
            <a href="press@itcoworking.com" style="color: #5869d3; text-decoration: none">press@itcoworking.com</a>
          </p>
          <div>
            <a href="https://www.instagram.com"
              ><img
                src="https://storage.yandexcloud.net/spotit/logo/instagram.png"
                alt="Instagram"
                width="32"
                height="32"
                style="padding-right: 12px"
            /></a>
            <a href="https://www.twitter.com"
              ><img
                src="https://storage.yandexcloud.net/spotit/logo/twitter.png"
                alt="Twitter"
                width="32"
                height="32"
                style="padding-right: 12px"
            /></a>
            <a href="https://www.instagram.com"
              ><img
                src="https://storage.yandexcloud.net/spotit/logo/youtube.png"
                alt="Youtube"
                width="32"
                height="32"
                style="padding-right: 12px"
            /></a>
            <a href="https://www.instagram.com"
              ><img
                src="https://storage.yandexcloud.net/spotit/logo/telegram.png"
                alt="Telegram"
                width="32"
                height="32"
                style="padding-right: 12px"
            /></a>
          </div>
        </td>
        <td width="66.67%" style="padding-left: 40px" valign="top">
          <div>
            <p style="width: 250px">Для остальных запросов и предложений</p>
            <p>
              <a href="mailto:info@example.com" style="color: #5869d3; text-decoration: none">info@itcoworking.com</a>
            </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
