{% load i18n %}

{% block html_body %}

<p>{% blocktrans %} Здравствуйте, {{ first_name }} {{ last_name }} {% endblocktrans %}</p>


<p>{% blocktrans %} Это письмо подтверждает отмену бронирование в коворкинге {{ location_name }} {% endblocktrans %}</p>

<p>{% trans "Предоплата будет возращена в течении 4 рабочих дней" %}</p>

<p>{% trans "Детали бронирования" %}</p>

<p>{% blocktrans %} Адрес: {{ full_address }} {% endblocktrans %}</p>

<p>{% blocktrans %} Место: {{ spot_name }} {% endblocktrans %}</p>

<p>{% blocktrans %} Дата: {{ date }} {% endblocktrans %}</p>

<p>{% blocktrans %} Врмея: с {{ start_time }} до {{ end_time }} {% endblocktrans %}</p>

<p>{% blocktrans %} The {{ company_name }} team {% endblocktrans %}</p>

{% endblock html_body %}
