name: flake8

on:
  pull_request:
    branches:
      - develop

jobs:

  flake8:
    runs-on: ubuntu-latest
    steps:
    - 
      uses: actions/checkout@v2
    - 
      name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.0
    - 
      name: Install dependencies
      run: | 
        python -m pip install --upgrade pip 
        pip install flake8 pep8-naming flake8-broken-line flake8-isort
        pip install -r backend/foodgram/requirements.txt
    - 
      name: Test with flake8
      run: |
        python -m flake8

